<main class="home wrapper">
  <div id="map"></div>
  <form action="/create" method="POST" enctype="multipart/form-data" id="transfer-create" class="bar">
    <div class="location">
      <h2>Pick a location</h2>
      <span id="location-output">Click on the map</span>
    </div>
    <div class="range disabled">
      <h2>Select range</h2>
      <input type="range" id="range-input" class="input" min="1" max="13" steps="13" value="4" required>
    </div>
    <div class="files">
      <h2>Pick your files</h2>
      <input type="file" id="files" name="file" required>
    </div>
    <span class="submit">
      <input type="hidden" id="latitude" name="latitude">
      <input type="hidden" id="longitude" name="longitude">
      <input type="hidden" id="radius" name="radius">
      <input type="submit" value="Start upload">
    </span>
  </form>
</main>
