<main>
  <div id="mapid"></div>
</main>
<script>
  var transfer = {
    link_hash: '{{transfer.link_hash}}',
    lat: {{transfer.lat}},
    long: {{transfer.long}},
    radius: {{transfer.radius}}
  };
</script>
